body {
  text-align: center;
  height: auto;
}

.wrapper {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* -- index.html */
.flex-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 2;
  padding: 5px;
  color: #fdfcdc;
}

.start-btn {
  font-size: 25pt;
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #ffba08;
  box-shadow: 0 0.2em #6c757d;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 7px;
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.start-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.start-btnr:active {
  color: #03071e;
}

.start-btnr:active:after {
  background: transparent;
}

.start-btn:hover:before {
  opacity: 1;
}

.start-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #370617;
  left: 0;
  top: 0;
  border-radius: 7px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* quiz.html */
.header-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: row wrap;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  padding: 15px;
}

.box {
  flex-basis: 25%;
  text-align: center;
  margin: auto;
}

.box1 {
  flex-basis: 30%;
  text-align: center;
  margin: auto;
}

#quizImg {
  width: 180px;
  height: 180px;

  /* background-color: darkred; */

  border: solid 3px darkred;
  border-radius: 200px;

  box-shadow: 0px 0px 10px 0px darkred;

  background-size: cover;
  background-position: center;
}

#answers.box1 {
  /* display: flex; */
  flex-wrap: inherit;
  justify-content: center;
  font-size: 13px;
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.btn {
  margin: 5px;
}

#pauseBtn {
  margin-top: 0;
}

#nextBtn.btn {
  background-color: none;
  font-size: 20px;
  color: #e71d36;
}

#resumeBtn {
  background-color: #0353a4;
  color: white;
}

#modal-window {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}

#modal-contents {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: #000;
  text-align: center;
}

.show-result {
  text-align: center;
  line-height: 300%;
}

#finalScore {
  color: #ff9f1c;
}

footer a {
  text-decoration: none;
  color: gainsboro;
  letter-spacing: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-size: 10px;
  padding: 10px;
  /* background-color: #000; */
}

@media only screen and (max-width: 450px) {
  .wrapper {
    width: 100%;
  }

  .flex-container {
    font-size: 12px;
  }

  .flex-container-main {
    font-size: 12px;
  }

  #quizImg {
    width: 130px;
    height: 130px;
  }

  .modal {
    width: 80%;
    max-width: 400px;
  }
  #finalMsg {
    font-size: 15px;
  }

  #finalScore {
    font-size: 20px;
  }
}
